@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font1: "Poppins";
  --font2: "Playfair Display";
  --black: #1a1a1a;
}

body {
  background-color: var(--black);
  background: linear-gradient(90deg, var(--black) 20px, transparent 1%) 50%,
    linear-gradient(var(--black) 20px, transparent 1%) 50%, #222;
  background-size: 22px 22px;
  background-attachment: fixed;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: var(--font1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gif {
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  margin: 3rem 0;
}

.content .main-heading {
  font-size: 2.5rem;
  font-weight: 700;
}
p {
  font-size: 1.3rem;
  padding: 0.7rem 0;
}

button {
  padding: 1rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background: hsl(220, 100%, 42%);
  color: hsl(0, 0%, 98%);
  font-size: 1.3rem;
  cursor: pointer;
}
button:hover {
  animation: shadow-drop-center 0.2s linear both;
  scale: 1.02;
  transition: all 0.3s ease-in-out;
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 hsla(200, 100%, 70%, 0.259);
  }
}

.my-atropos {
  width: 330px;
  height: 186px;
  border-radius: 10px;
  border: 1px solid hsl(200, 100%, 70%);
  box-shadow: 0 0 10px hsl(200, 100%, 70%);
}
.my-atropos:hover {
  border-radius: 0px;
  border: none;
  box-shadow: none;
}

.atroposImage {
  position: absolute;
  display: block;
  border-radius: 10px;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: unset;
}
p {
  padding: 1rem 0;
}
::-webkit-scrollbar-thumb {
  background: #00eaff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #02abff;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 100%;
}

pre {
  background: #0321308b;
  color: #66ccff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #1a5a7a;
  box-shadow: 0 0 10px #1a5a7a;
  font-family: "Courier New";
  letter-spacing: 0.5px;
  font-size: 11pt;
  height: auto;
}
a {
  color: #02abff;
  text-decoration: none;
}
a:hover {
  color: #66ccff;
}
table {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #66ccff;
  background-color: #032130;
  width: 100%;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #66ccff;
  padding: 1rem;
}
table tbody td {
  font-size: 13px;
  color: #e6e6e6;
}
table tr:nth-child(even) {
  background: #08577f;
}
table thead {
  background: #000000;
  border-bottom: 3px solid #66ccff;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #e6e6e6;
  text-align: left;
  border-left: 2px solid #66ccff;
}
table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 12px;
}

.title404 {
  color: transparent;
  font-size: 220px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background: url("https://media1.giphy.com/media/TVcccqTf6qFDMpj7Xo/giphy.gif?cid=ecf05e47djo3e02rkpmitmu7vcwsh5hkp38sysotpbx3crm2&ep=v1_gifs_related&rid=giphy.gif&ct=g");
  background-position: center;

  filter: drop-shadow(0 0 0.2rem #0077ff);
  -webkit-animation-c: text;
  -webkit-background-clip: text;
}
.subtitle404 {
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.redirect404 {
  color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.projectCard {
  min-height: 31rem;
}
